<%- include('template/header'); %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form id="inputForm">
                        <div class="mb-2">
                            <label for="inputText">Input Text</label>

                            <input type="text" id="inputText" class="form-control" placeholder="Enter something..."
                                required>
                        </div>
                        <button id="submit" type="button" class="btn btn-primary">Submit</button>
                        <a href="/welcome" target="_blank" class="btn btn-success">Result</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('template/footer'); %>

<script>
    let port = '<%-port%>'
    let hostname = '<%-hostname%>'
    const ws = new WebSocket(`ws://` + hostname + `:` + port);

    ws.onopen = function (e) {
        console.log("Connection established!");
    };

    ws.onclose = function () {
        console.log('Not connect');
    };

    document.getElementById('submit').onclick = (event) => {
        event.preventDefault();
        var inputText = document.getElementById('inputText').value;
        inputText = 'setwelcome : ' + inputText;
        ws.send(inputText);
    };
</script>
</body>

</html>