<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Page - <%= title %></title>
</head>

<body>
    <h1>Input Text</h1>
    <form id="inputForm">
        <input type="text" id="inputText" placeholder="Enter something..." required>
        <button id="submit" type="button">Submit</button>
    </form>

    <script>
        let port = '<%-port%>'
        let hostname = '<%-hostname%>'
        const ws = new WebSocket(`ws://` + hostname + `:` + port);

        ws.onopen = function (e) {
            console.log("Connection established!");
        };

        ws.onclose = function () {
            console.log('Not connect');
        };

        document.getElementById('submit').onclick = (event) => {
            event.preventDefault();
            var inputText = document.getElementById('inputText').value;
            inputText = 'setwelcome : ' + inputText;
            ws.send(inputText);
        };
    </script>
</body>

</html>