<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page - <%= title %></title>
</head>

<body>
    <h1>Welcome!</h1>
    <p id="welcomeMessage">Waiting for input...</p>

    <script>
        let port = '<%-port%>'
        let hostname = '<%-hostname%>'
        const ws = new WebSocket(`ws://` + hostname + `:` + port);

        ws.onopen = function (e) {
            console.log("Connection established!");
        };

        ws.onclose = function () {
            console.log('Not connect');
        };

        ws.onmessage = (event) => {
            console.log(event);
            document.getElementById('welcomeMessage').textContent = event.data;
        };
    </script>
</body>

</html>